.hero{
    position:relative;
    width: 100%;
    min-height: 900px;
    background-image: url('./assets/hero_bg.png');
  



    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh;  
    width: 100%;                  
    position: relative;
}

.hbtm__img{
    width: 392px;
    height: auto;
    position: absolute;
    bottom: -200px;
    left: 2rem;
    user-select: none;
    pointer-events: none;
}

header{
    width: 100%;
}

#mobile__menu, #close__menu{
    display: none;
}

nav{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo__selector .nav__logo{
    width: 126px;
    height: auto;
    pointer-events: none;
}

.nav__list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__list li a{
    position: relative;
    font-size: 16px;
    font-weight: var(--fw-500);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 2px;
    transition: all 0.3s ease;

    & span{
        font-size: 20px;
    }
}
/* dropdown */
.dropdown {
    position: relative;
}
/* Dropdown menu */
.dropdown__menu {
    position: absolute;
    top: 120%;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    display: none;
    flex-direction: column;
    min-width: 220px;
    z-index: 99;
    transition: 0.3s ease;
}

/* Bubble arrow */
.dropdown__menu::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent;
    backdrop-filter: blur(10px);
}

/* Dropdown menu items */
.dropdown__menu li {
    margin-bottom: 10px;
}
.dropdown__menu li:last-child {
    margin-bottom: 0;
}
.dropdown__menu li a {
    color: var(--white);
    font-size: 15px;
    transition: 0.3s ease;
}
.dropdown__menu li a:hover {
    color: var(--main-color); /* or any highlight color */
}

/* Show menu on hover */
.dropdown:hover .dropdown__menu {
    display: flex;
}

/* Responsive tweak (optional) */
@media (max-width: 768px) {
    .dropdown__menu {
        position: static;
        background: none;
        box-shadow: none;
        padding: 0.5rem 0;
        border-radius: 0;
    }

    .dropdown__menu::before {
        display: none;
    }

    .dropdown__menu li a {
        color: var(--white);
    }
}

.nr__btn button, .submit__btn, .view_package{
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #ff5c5c;
  border: none;
  padding: 10px 20px;
  color: rgb(110, 15, 15);
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
    color: #ffffff;
    &:hover{
        background:#db8d75;
    }
}

.hero__content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
}

.h_shape{
    width: 80px;
    height: auto;
}

.hero__content h1{
    font-size: 70px;
    font-weight: var(--fw-700);
    line-height: 1.2;
    color: #f7f7fa;
}

.booking__form{
    display: inline-block;
    padding: 1.2rem 1.5rem;
    background: rgba(254, 254, 254, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin: 2rem 0;
}

.booking__form a{
    padding: 0.5rem 2rem;
    border-right: 1.5px solid #fff;
    font-size: 18px;
    font-weight: var(--fw-400);
    color: var(--white);

    &:nth-child(1){
        padding-left: 0;
    }

    &:nth-child(3){
        border-right: none;
    }
}

.submit__btn{
    width: 176px;
}

.booked{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #dad7d7;

    & span{
        font-size: 15px;
        font-weight: var(--fw-400);
        color: var(--white);
    }
}

.booked__people{
    width: 180px;
    height: auto;
}


/* responsive */

@media only screen and (max-width: 768px){
    .nav__list {
        position: fixed;
        top: 0;
        left: -70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 70%;
        min-height: 100vh;
        background: var(--main-color);
        padding: 5rem 2rem;
        z-index: 2222;
        overflow: hidden;
        transition: left 0.3s ease;
    }

    #mobile__menu, #close__menu{
        display: initial;
        font-size: 20px;
        color: var(--white);
    }

    .close__menu{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .opennav{
        left: 0;
    }

    .hero__content {
        text-align: center;
        margin: 0 auto;
    }

    .hero__content h1 {
        font-size: 40px;
    }

    .booking__form {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
    }

    .booking__form a {
        border-right: none;
    }

    .booked {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

}


/* 480px */
@media only screen and (max-width: 480px){
    .nr__btn button, .submit__btn, .view_package {
        padding: 0.5rem 1rem;
        font-size: 12px;
    }

    .logo__selector .nav__logo {
        width: 80px;
    }

    .hero__content h1 {
        font-size: 30px;
    }

    .booking__form a {
        font-size: 14px;
    }
}










.brand{
    
    padding: 2rem;
    background-color: #f2f2f2;
    gap: 5px;
}

.brand__container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & img{
        width: 80px;
        height: auto;
    }
}


/* responsive */
@media only screen and (max-width: 768px){
     .brand__container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}












.category{
    width: 100%;
    text-align: center;
    padding: 4rem 0;
    /* background: red; */
}

.category__grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-family: var(--ff-poppins);
}

.category__item{
    position: relative;
    max-width: 190px;
}

.category__item .cti__content{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    border-radius: 30px;
    cursor: default;
    background: var(--white);
    transition: transform 0.3s ease;

    & strong{
        font-size: 20px;
        color: var(--second-color);
        margin-bottom: 0.5rem;
    }

    & p{
        font-size: 16px;
        font-weight: var(--fw-400);
        color: #5E6282;
    }
}

.category_card_img{
    max-width: 80px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.ctbg__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    transition: opacity 0.3s ease;
    z-index: -1;
    opacity: 0;
}

.category__item .cti__content:hover{
    box-shadow: var(--bxsdow);
    transform: translateY(-5px);
}

.category__item .cti__content:hover + .ctbg__overlay{
    opacity: 1;
}


/* responsive */
@media only screen and (max-width: 768px){
    .category__grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}









.honeymoon{
    width: 100%;
    padding: 3rem 0 5rem 0;
}

.honeymoon__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 8rem; */
}

.honeymoon_img{
    width: 40%;

    & img{
        width: 100%;
    }
}

.honeymoon__content{
    width: 50%;

    & .heading{
        width: 100%;
    }
}

.honeymoon__content p{
    font-size: 16px;
    font-weight: var(--fw-400);
    font-family: var(--ff-poppins);
    margin: 1rem 0 2rem 0;
}

/* responsive */
@media only screen and (max-width: 768px){
    .honeymoon__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .honeymoon_img {
        width: 50%;
        margin-bottom: 2rem;
    }

    .honeymoon__content {
        width: 100%;
        text-align: center;
    }
}

/* 480 */
@media only screen and (max-width: 480px){
    .honeymoon_img {
        width: 80%;
    }
}









.fast__easy{
    width: 100%;
    padding: 4rem 0;
    overflow: hidden;
}

.fast__easy__container{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 2rem;
}

.fe__left{
    max-width: 260px;
    height: max-content;
    /* background: red; */
}

.rules__wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    font-family: var(--ff-poppins);
}

.rules__icon{
    padding: 1rem 0.9rem;
    border-radius: 10px;
    background: var(--yellow);

    &.second_bg{
        background: #F15A2B;
    }

    &.third_bg{
        background: #006380;
    }
}

.rules_text{
    & strong{
        font-size: 16px;
        font-weight: var(--fw-600);
        color: #5E6282;
    }

    & p{
        font-size: 16px;
        font-weight: var(--fw-400);
        color: #5E6282;
    }
}

.fe__right{
    max-width: 400px;
    height: max-content;
    font-family: var(--ff-poppins);
    /* background: slateblue; */
}

.fe__right__container{
    position: relative;
}

.trip__card{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
    border-radius: 26px;
    background: var(--white);
    box-shadow: var(--bxsdow-two);
}

.tripcard__img{
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.trip__to{
    line-height: 1.8;

    & span{
        font-size: 18px;
        font-weight: var(--fw-500);
        color: var(--black);
    }

    & p{
        font-size: 10px;
        font-weight: var(--fw-400);
        color: #84829A;
    }
}

.cta__icon{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    & span i{
        width: 36px;
        height: 36px;
        display: grid;
        place-items: center;
        color: #9CA0B0;
        border-radius: 50%;
        background: #F5F5F5;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover{
            background: #dad7d7;
        }
    }
}

.intrstng__client{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.building{
    display: flex;
    align-items: center;
    gap: 1rem;

    & p{
        font-size: 16px;
        font-weight: var(--fw-400);
        color: #84829A;
    }
}

.intrstng__client span i{
    font-size: 18px;
    font-weight: var(--fw-400);
    color: var(--main-color);
}

.ongoing__trip{
    max-width: max-content;
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 18px;
    background: var(--white);
    box-shadow: var(--bxsdow-two);
}

.ongoing__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.first__title{
    line-height: 1.5;
    
    & span{
        font-size: 14px;
        font-weight: var(--fw-400);
        color: #84829A;
    }

    & p{
        font-size: 18px;
        font-weight: var(--fw-500);
        color: var(--black);
    }
}

.ongoing__persentage{
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: var(--fw-500);
    color: var(--black);

    & span{
        color: var(--main-color);
    }
}

.percent__line{
    position: relative;
    margin-top: 0.5rem;
    width: 180px;
    height: 5px;
    border-radius: 30px;
    background: #ddd;

    &::before{
        position: absolute;
        content: '';
        width: 50%;
        height: 5px;
        border-radius: 30px;
        background: var(--main-color);
    }
}

.ongoing{
    position: absolute;
    top: 50%;
    left: 50%;
}

.plain{
    position: absolute;
    top: -170px;
    left: 50px;
    z-index: -1;
}

.bg__element{
    position: absolute;
    top: 261px;
    left: -73px;
    z-index: -1;
}


/* responsive */
@media only screen and (max-width: 768px){
    .fast__easy__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fe__left {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .fe__right {
        max-width: 100%;
    }

    .plain {
        display: none;
    }
}


/* 480 */
@media only screen and (max-width: 480px){
    .ongoing__trip {
        display: none;
    }

    .rules__wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}













.promotion{
    width: 100%;
    padding: 5rem 0;
    /* background: red; */
    margin-top: 5rem;
}

.prmotion__container{
    /* background-color: salmon; */
    position: relative;
}

.promotion__heading{
    max-width: 630px;
    /* background: slateblue; */

    & p{
        margin: 32px 0;
        line-height: 1.5;
        font-family: var(--ff-poppins);
        font-size: 16px;
        font-weight: var(--fw-400);
        color: var(--black);
    }
}

.destination{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.4rem;
    z-index: 2;
}

.destination__content{
    position: relative;

    & span{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-family: var(--ff-poppins);
        font-size: 16px;
        font-weight: var(--fw-400);
        padding: 0.4rem 1.5rem;
        border-radius: 20px;
        background: var(--main-color);
        color: var(--white);
    }
}

.ifel__tower{
    position: absolute;
    top: 50%;
    right: 0;
    bottom: -200px;
    transform: translateY(-50%);
    z-index: 1;

    & img{
        max-width: 370px;
    }
}


/* responsive */
@media only screen and (max-width: 768px){

    .prmotion__container {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .promotion__heading {
        max-width: 100%;
    }

    .ifel__tower {
        display: none;
    }

    .destination {
        justify-content: center;
    }
}








.banner{
    width: 100%;
    min-height: 400px;
    position: relative;
    background-image: url("./../../assets/next_holiday.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
    margin-top: 5rem;
}

.banner__content{
    max-width: 640px;
    position: absolute;
    top: 50%;
    /* left: 0; */
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: var(--fw-700);
    color: var(--white);
    text-transform: capitalize;
}

.banner__content span{
    position: relative;
}

.amazing__spahe{
    position: absolute;
    bottom: -36px;
    left: 0;
    transform: translateX(-0%);
}


/* responsive */
@media only screen and (max-width: 768px){
    .banner__content {
        max-width: 100%;
        font-size: 40px;
        text-align: center;
    }
}

@media only screen and (max-width: 480px){
    .banner__content {
        font-size: 30px;
    }

    .amazing__spahe {
        width: 170px;
    }
}











.explore__pkgs{
    width: 100%;
    margin: 5rem 0;
    display: flex;
}

.explore__pkgs__left, .explore__pkgs__right{
    position: relative;
    width: 50%;
    min-height: 50px;
    padding: 6.6rem;
    text-align: center;
    color: var(--white);
    /* background: red; */
    background-image: url("./../../assets/explore__nature.png");
    background-repeat: no-repeat;
    background-size: 610px;
    background-position: center;
}

.explore__pkgs__right{
    background-image: url("./../../assets/explor__cities.png");
}

.expkgs__content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5;

    & .promotion__title{
        font-size: 18px;
        font-weight: var(--fw-500);
    }

    & h4{
        font-size: 50px;
        font-weight: var(--fw-700);
        margin-bottom: 2rem;

        & .hd__title__line__text{
            position: relative;
        }
    }
}

.explore__text__line{
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: translateX(-0%);
}

.expkgs__content button{
    border: 4px solid var(--white);
    background: transparent;
    color:#181433;
}


/* responsive */
@media only screen and (max-width: 768px){
    .explore__pkgs {
        flex-direction: column;
    }

    .explore__pkgs__left, .explore__pkgs__right {
        width: 100%;
    }
}


/* 480 */
@media only screen and (max-width: 480px){
    .explore__text__line {
        width: 120px;
    }

    .expkgs__content h4{
        font-size: 40px;
    }
}











.trendy {
    width: 100%;
    /* background: rebeccapurple; */
    padding: 5rem 0;
  }
  
  .trendy .heading {
    text-align: center;
  
    & span {
      text-transform: uppercase;
    }
  }
  
  .trendy__card__wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    font-family: var(--ff-poppins);
  }
  
  .trendy_card_item {
    max-width: 350px;
    height: auto;
    /* background: red; */
  }
  
  .trndy__posn {
    position: relative;
  }
  
  .trdy__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .trndy__flag {
    position: absolute;
    bottom: -32px;
    left: 1.5rem;
    /* transform: translateY(-50%); */
  }
  
  .td__user {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  
    & .td__item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
  
      & span {
        font-size: 16px;
        font-weight: var(--fw-400);
        color: #7d7d7d;
      }
    }
  }
  
  .td_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  
    & .country__name {
      font-size: 29px;
      font-weight: var(--fw-700);
      color: var(--black);
    }
  
    & .stars {
      display: flex;
      align-items: center;
      gap: 0.1rem;
  
      & i {
        font-size: 15px;
        font-weight: var(--fw-700);
        color: var(--yellow);
      }
    }
  }
  
  .trendy__card__wrapper .location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    & span {
      font-size: 16px;
      font-weight: var(--fw-400);
      color: #7d7d7d;
    }
  }
  
  .td__ammount {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: var(--fw-400);
  
    & .current__price {
      font-size: 29px;
      color: var(--main-color);
    }
  
    & .old__price {
      font-size: 22px;
      color: #7d7d7d;
    }
  }
  
  .td__para {
    margin-bottom: 2rem;
    font-size: 12px;
    font-weight: var(--fw-400);
    color: var(--black);
  }
  
  .td__card__btn button {
    font-size: 12px;
  }
  
  /* responsive */
  @media only screen and (max-width: 768px) {
    .trendy__card__wrapper {
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }








  .testimonial{
    position: relative;
    width: 100%;
    min-height: 170px;
    background-image: url("./../../assets/testimonial_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonial__content .heading{
    margin-top: 6rem;
}

.tst__blc{
    position: absolute;
    bottom: 0;
    left: 0;
}

.testimonial__content{
    max-width: 640px;
    text-align: center;
    padding: 2rem 1rem;
    margin: 0 auto;
    line-height: 1.5;
}

.testimonial__box{
    position: relative;
    max-width: 540px;
    height: auto;
    margin: 0 auto;
    padding: 2rem 4rem;
    background: var(--white);
    border-radius: 17px;
    margin-top: 6rem;
    font-family: var(--ff-poppins);
}

.people__img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tst__para{
    margin-top: 2rem;
    position: relative;
    width: 100%;
    font-size: 12px;
    font-weight: var(--fw-400);
    color: var(--black);
    line-height: 2;

    & .txtbg__icon{
        position: relative;
    }
}

.tst__bg{
    position: absolute;
    top: -27px;
    left: -22px;
}

.designer__name{
    display: block;
    margin-top: 0.5rem;
    font-size: 14px;
}

.tst__arrow__left{
    position: absolute;
    top: 50%;
    left: ;
    transform: translate(-50%, -50%);
}

.tst__arrow__right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.img__circle{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #737373;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover{
        background: #585858;
    }
}

.tst__arrows{
    width: auto;
    height: auto;
}

/* responsive */
@media only screen and (max-width: 480px){
    .testimonial__box {
        max-width: 85%;
        padding: 2rem 1rem;
    }

    .img__circle {
        width: 40px;
        height: 40px;
    }

    .tst__arrows {
        width: 15px;
        height: auto;
    }
}











footer{
    width: 100%;
    /* background: blueviolet; */
    padding: 5rem 0 2rem 0;
    font-family: var(--ff-poppins);
}

.footer__wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 3rem;
}

.footer__about{
    max-width: 215px;
    line-height: 1.5;
}

.about__text{
    margin-bottom: 1.5rem;
    font-size: 6px;
    font-weight: var(--fw-400);
    color: #757095;
}

.socila__links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__links span{
    font-size: 21px;
    font-weight: var(--fw-500);
    color: var(--black);
    margin-bottom: 24px;
    display: block;
}

.footer__links ul li a{
    margin-bottom: 18px;
    display: inline-block;
    font-size: 16px;
    font-weight: var(--fw-400);
    color: var(--black);

    &:hover{
        text-decoration: underline;
    }
}

.footer__links form{
    position: relative;
    max-width: 400px;
    height: 52px;
    /* background: wheat; */
    border-radius: 10px;
}

.footer__links form input{
    width: 1;
    height: 27px;
    border: none;
    outline: none;
    background: #fdebeb;
    padding: 1rem 9rem 1rem 1rem;
    font-size: 16px;
    font-weight: var(--fw-400);
    font-family: var(--ff-poppins);
    color: #181433;
    border-radius: 10px;

    &:focus{
        outline: 1px solid var(--main-color);
    }
}

.newslatter__btn{
    position: absolute;
    top: 50%;
    right: 4px;
    left: 4;
    color: #81361f;
    transform: translateY(-50%);
    padding: 1rem 2rem;
    border-radius: 10px;
    background: var(--main-color);
    font-size: 24px;
    font-weight: var(--fw-500);
    color: var(--white);
    transition: background 0.3s ease;

    &:hover{
        background: var(--main-d-color);
    }
}

.foot__hr{
    width: 100%;
    height: 1px;
    background: #95959f;
    margin-bottom: 2rem;
}

.copywrite{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: var(--fw-400);
    color: #181433;
}


/* responsive */
@media only screen and (max-width: 768px){
    .footer__wrapper {
        margin-bottom: 10rem;
    }
}

@media only screen and (max-width: 480px){
    .footer__wrapper {
        gap: 2rem;
    }
}